body {
  font-family: sans-serif;
  text-align: center; /* Center all text */
}

h1 {
  margin-bottom: 20px;
}

div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 300px; /* Adjust as needed */
  text-align: right;
  margin-right: 10px;
}

button {
  padding: 10px 20px; /* Adjust padding as needed */
  margin: 10px 0; /* Adjust margin as needed */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px; /* Add rounded corners */
  margin-left: 0; /* Remove left margin for centering */
}

#generateNumber {
  background-color: #ec0a0a; /* Change to blue */
}

#revealAnswer {
  background-color: #fb1201; /* Change to red */
}

button:hover {
  background-color: #fa0505; /* Darker green on hover */
}

#numberDisplay,
#answerDisplay,
#answerDisplay2 {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: auto; /* Center the display */
  margin-right: auto; /* Center the display */
  width: fit-content; /* Adjust width to fit content */
}

#maxNumber {
  width: 100px; /* Adjust the width as needed */
}