.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.template-image {
  /* First attempt : Tried to make it a background image, it was easier just to use an <img> tag 
  background-image: url(https://github.com/evilusean/evilusean.github.io/blob/main/Trade-Offer/Assets/TradeOfferTemplate.jpg?raw=true); */
  /*background-size: contain;
  background-position: center; */
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.giveDiv,
.takeDiv {
  width: 50%;
  height: 50%;
  padding: 20px;
  padding-top: 50px;
  text-align: center;
  font-size: 24px;
  color: white;
}
