:root {
  --main-color: #f6060b;
  --second-color: #8e44ad;
  --third-color: #007bff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 75vh;
  margin: auto;
}

body {
  background: linear-gradient(to bottom left, #65068d, #f37272);
}

.template-image {
  display: inline-flex;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.template-image {
  position: relative;
  width: 100%;
  height: 100vh;
}

.giveDiv {
  position: absolute;
  top: 200;
  left: 0;
  min-width: auto;
  max-width: 40vh;
  height: 100%;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  align-items: right;
  justify-content: flex-end;
  overflow: auto;
  border: 0;
}

.takeDiv {
  position: absolute;
  top: 200;
  right: 0;
  min-width: auto;
  max-width: 40vh;
  height: 100%;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  align-items: left;
  justify-content: flex-start;
  overflow: auto;
}

.giveDiv,
.takeDiv {
  width: 50%;
  height: 50%;
  padding: 20px;
  padding-top: 50px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 1.5em;
  z-index: 1;
}

.give-input,
.take-input {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
}

/*
button {
  justify-content: center;
  width: 99%;
  height: 10vh;
}
*/
.give-input,
.take-input,
button {
  display: inline-block;
}

.input-container {
  display: block;
  padding-top: 175px;
}

.give-container,
.take-container {
  display: inline-block;
  width: 49%;
}

h1 {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 5px;
}

.clear-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 10%;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 20%;
}

.url-output {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  font-size: 90%;
}

.portfolio-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.portfolio-container div {
  width: 33%;
  text-align: center;
}

.portfolio-container img {
  width: 100%;
}

.portfolio-container a {
  color: black;
  text-decoration: none;
}

/* PORTFOLIO SECTIONS: */
.webdev-img {
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
}

.webdev-img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.python-img {
  border-radius: 50%;
  box-shadow: 0 0 25px var(--third-color);
  width: 32vw;
  height: 32vw;
  object-fit: cover;
  object-position: center;
}

.python-img:hover {
  box-shadow: 0 0 25px var(--third-color), 0 0 50px var(--third-color),
    0 0 100px var(--third-color);
}
.github-img {
  border-radius: 50%;
  box-shadow: 0 0 25px var(--second-color);
  width: 32vw;
  height: 32vw;
}

.github-img:hover {
  box-shadow: 0 0 25px var(--second-color), 0 0 50px var(--second-color),
    0 0 100px var(--second-color);
}

.webdev-header:hover {
  color: var(--main-color);
}

.python-header:hover {
  color: var(--third-color);
}

.github-header:hover {
  color: var(--second-color);
}
